*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f7f7f7;
    width: 100%;
    margin: 0 auto;
}


/*CSS DIV MAIN*/

.main{
    width: 90%;
    margin: 0 auto;
    background-color: #f8f0f0;
}

/* CSS NAV*/

nav{
    background-image:linear-gradient(0deg,#00483e,#087565);
    width: 100%;
}

.logo{
    padding: 0;
    width: 190px;
    height: 25px;
    margin: 0;
}
nav > ul > li:first-child{
    width: 190px;
}

nav > ul > li > a > img{
    width: 190px;
    height: 61px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav  ul > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color:white;
    width: 92px !important;
}

nav ul > li > a:hover{
    background-color: #e1e1e1;
    color: #333;
    text-decoration: none;
    border: 1px solid;
    border-top-color: red;
    border-right-color: black ;
    border-bottom-color: red;
    border-left-color: black;
    border-radius: 2px;
}

.menu{
    display: none;
    position: absolute;
    background-image:linear-gradient(0deg,#00483eef,#087565ea);
    z-index: 1000;
}

.submenu:hover .menu{
    display: block;
}
/* giỏ hàng*/
.shop{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #087565ea;
    width: 120px;
    margin-left: 190px;
    text-align: center;
    padding-top: 15px;
}
.shop > a{
    text-decoration: none;
    color: orange;
    text-align: center;
    padding: 25px 15px ;
}

.shop:hover{
    background-color: rgb(70, 69, 69);
    border: 1px solid red;
}
/* CSS SHARE*/
.sharing{
    list-style-type: none;
}

.sharing > li{
    position: fixed;
    background-color: rgb(110, 200, 241);
    padding: 2px;
    left: -180px;
    min-width: 220px;
    transition: left .5s;
    z-index: 900;
    display: flex;
}

.sharing > li:hover{
    left: 0;
}

.sharing > li > a{
    text-decoration:none;
    color: rgb(109, 45, 45);
    padding: 10px 10px 10px 30px;
}

.sharing > li > img{
    margin-left: auto;
    width: 40px
}

.sharing > li:nth-child(1){
    top: 200px;
}

.sharing > li:nth-child(2){
    top: 245px;
}

.sharing > li:nth-child(3){
    top: 290px;
}

/* thông tin chính*/
.buying{
    width: 55%;
    height: 1200px;
    margin: 70px auto;
    color: #333333;
    background-color: white;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
}

.header{
    display: flex;
    padding: 10px 10px 0px 10px;
}

.header > div{
    width: 50%;
}

.header > div:first-child{
    font-size: 18px;
}

.header > div:last-child{
    margin-left: 30%;
    text-align: right;
}

.header a{
    text-decoration: none;
    color: #199bff;
}
/* hiển thi sản phẩm*/
.buyProduct{
    display: flex;
}

.buyProduct > .show{
    width: 35%;
    margin-top: 30px;
}

.buyProduct img{
    cursor: pointer;
}

.buyProduct > div:last-child > p:first-child{
    margin-top: 30px;
    color: #337ab7;
    font-size: 18px;
}

.buyProduct > div:last-child > p{
    font-size: 12px;
    padding-right: 60px;
    margin: 10px;
}

.buyProduct a{
    text-decoration: none;
    color: #288ad6;
}

.buyProduct  .color{
    margin-right: 15px;
}

.buyProduct .color input[type=button]:first-child{
    background-color: darkgray;
}

.buyProduct .color input[type=button]{
    background-color: white ;
    width: 90px;
    height: 35px;
    font-size: 15px;
    border: 1px solid #157202;
    cursor: pointer;
}

.buyProduct .color input[type=button]:hover{
    background-color: rgb(228, 227, 227);
}

.buyProduct > div > div  span{
    color: chocolate;
    font-size: 18px;
}


.sl{
    display: flex;
    text-align: center;
}

.sl > div{
    padding: 8px 16px;
    margin: 0;
    border: 1px solid #999;
}

.sl > div:nth-child(1){
    color: #999;
}

.sl > input[type=text]{
    width: 60px;
    margin: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: none;
    border-right: none;
    text-align: center;
}

/* tiền */
.pay {
    margin: 30px 0;
    border-top: dashed 1px #ccc;
    border-bottom: dashed 1px #ccc;
}

.money{
    margin-top: 25px;
    display: flex;
}

.money > div:first-child{
    width: 60%;
    font-size: 16px;
    padding-left: 40px;
}

.money >div:last-child{
    width: 40%;
    text-align: right;
    font-size: 17px;
    padding-right: 45px ;
}
/* số lượng */
.numberPro{
    margin-top: 7px;
    display: flex   ;
}

.numberPro > div:first-child{
    width: 60%;
    font-size: 16px;
    padding-left: 40px;
}

.numberPro >div:last-child{
    width: 40%;
    text-align: right;
    font-size: 17px;
    padding-right: 45px ;
}
/* thành tiền*/
.lastMoney{
    display: flex;
    margin-top: 7px;
}
.lastMoney > div:first-child{
    width: 60%;
    font-size: 16px;
    font-weight: 700;
    padding-left: 40px;
}

.lastMoney >div:last-child{
    color: #ff5014;
    width: 40%;
    text-align: right;
    font-size: 18px;
    padding-right: 45px;
}

/* thông tin khách hàng*/
.yourself{
    padding:0 40px ;
    width: 100%;
    height: 100px;
}

.yourself > h4{
    color: #777;
    font-size: 17px;
    margin-bottom: 15px;
}


#name, #numberPhone{
    width: 40%;
    height: 34px;
    margin-right: 1%px;
    border: 1px solid #666;
    border-radius: 4px;
    padding-left: 1%;
    font-size: 14px;
}

#numberPhone{
    left: auto;
}

#email, #add, #request{
    width: 82.3%;
    height: 34px;
    margin-top: 15px;
    border: 1px solid #666;
    border-radius: 4px;
    padding-left: 1%;
    font-size: 14px;
}

.yourself > select{
    width: 84%;
    height: 34px;
    margin-top: 15px;
    border: 1px solid #666;
    border-radius: 4px;
    padding-left: 1%;
    font-size: 15px;
}

.yourself > div{
    margin-top: 10px;
}


.yourself > div > span{
    font-size: 15px;
    color: black;
    margin-left: 5px;
}

.yourself > div >i{
    color: rgb(209, 209, 209);
    font-size: 18px;
}


#dh{
    margin-top: 40px ;
    margin-left: 18%;
    width: 100%;
    height: 100px;
}

#dh > input[type=button]{
    background-image: linear-gradient(#f58d02,#fc721a);
    color: white;
    border: 1px solid #f58d02;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    padding: 15px;
    width: 50%;
}
/* CSS back to top*/           /*chung cho tất cả file html*/
#back-to-top{
    position: fixed;
    display: none;
    top: 90%;
    left: 97%;
    font-size: 26px;
    width: 35px;
    background-color: rgba(223, 223, 223, 0.411);
    color: #333;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    padding-top: 0px;
    transition: 0.5s;
    text-align: center;
}
#back-to-top:hover{
    background-color: black;
    color: white;
}


/*CSS FOOTER*/

footer{
    background-image:linear-gradient(0deg,#00483e,#087565);
    width: 100%;
    height: 300px;
    line-height: 1.5;
}

.footer{
    display: flex;
    color: white;
}

.footer > div{
    padding-left: 45px;
    width: 100%;
}

.footer p{
    margin-top: 25px;
    font-size: 20px;
}

.las:hover{
    text-decoration: underline;
    color: rgb(172, 172, 173);
}

/* nháp*/
#ok{
    color: rgb(7, 107, 7);
    background-image: linear-gradient(rgba(243, 240, 240, 0.747),rgba(206, 206, 209, 0.664));
    opacity: 0;
    z-index: -1;
    border: 1px solid rgb(7, 107, 7);
    border-radius: 5px;
    position: fixed;
    transition: all 1s ;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    width: 20%;
    top: 23%;
    left: 38%;
}

/* media*/
@media only screen and (min-width: 1100px) and (max-width: 1326px){
    nav > ul > li > a > img  {
        width: 150px;
    }
    nav > ul > li:first-child {
        width: 123px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 30px;
    }
    .shop{
        font-size: 13px;
        margin-left: auto;
    }
}
@media only screen and (min-width: 1035px) and (max-width: 1100px){
    nav  ul > li > a{
        width: 85px !important;
        font-size: 13px;
    }
    .fa{
        font-size: 25px !important;
    }
    nav > ul > li > a > img  {
        width: 130px;
    }
    nav > ul > li:first-child {
        width: 110px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 30px;
    }
    .shop{
        font-size: 13px;
        margin-left: auto;
        width: 120px;
        padding: 15px 3px;
    }
    #back-to-top{
        top: 90%;
        left: 95%;;
    }
}
@media only screen and (min-width: 870px) and (max-width: 1035px){
    .buying{
        height: 1300px;
    }
    nav  ul > li > a{
        width: 85px !important;
        font-size: 13px;
    }
    .fa{
        font-size: 25px !important;
    }
    nav > ul > li > a > img  {
        width: 110px;
        height: 55px;
    }
    nav > ul > li:first-child {
        width: 90px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 25px;
    }
    nav > ul > li select{
        font-size: 10px;
        margin-top: 15px !important;
    }
    nav > ul > li input[type=text]{
        width: 120px !important;
        font-size: 10px;
        margin-top: 15px !important;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 90px;
        padding-top: 12px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .buyProduct > .show{
        width: 60%;
    }
    #back-to-top{
        top: 90%;
        left: 95%;;
    }
}
@media only screen and (min-width: 810px) and (max-width: 869px){
    body > div:first-child{
        height: 30px !important;
    }
    nav  ul > li > a{
        width: 70px !important;
        font-size: 10px;
    }
    .fa{
        font-size: 18px !important;
    }
    nav > ul > li > a > img  {
        width: 110px;
        height: 55px;
    }
    nav > ul > li:first-child {
        width: 90px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 40px;
    }
    nav > ul > li select{
        font-size: 10px;
        margin-top: 15px !important;
    }
    nav > ul > li input[type=text]{
        width: 120px !important;
        font-size: 10px;
        margin-top: 15px !important;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 90px;
        padding-top: 12px;
    }
    .buying{
        height: 1250px;
        width: 65%;
    }
    .header > div:first-child{
        font-size: 16px;
    }
    .buyProduct > div:last-child > p:first-child{
        font-size: 15px;
        font-weight: 600;
    }
    .buyProduct > .show{
        width: 60%;
    }
    .buyProduct > div > div span{
        font-size: 15px;
    }
    .buyProduct .color input[type=button]{
        width: 55px;
        font-size: 10px;
    }
    .money > div:first-child{
        font-size: 13px;
        padding-left: 20px;
    }
    .money >div:last-child{
        font-size: 15px;
        padding-right: 35px;
    }
    .numberPro > div:first-child{
        font-size: 13px;
        padding-left: 20px;
    }
    .numberPro >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .lastMoney > div:first-child{
        font-size: 13px;
        padding-left: 20px;
    }
    .lastMoney >div:last-child{
        font-size: 17px;
        padding-right: 35px;
    }
    .footer{
        font-size: 13px;
    }
    .footer > div {
        padding-left: 15px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .footer p{
        font-size: 18px;
    }
    #back-to-top{
        top: 90%;
        left: 95%;;
    }
}
@media only screen and (min-width: 665px) and (max-width: 809px){
    body > div:first-child{
        height: 30px !important;
    }
    nav  ul > li > a{
        width: 70px !important;
        font-size: 10px;
    }
    .fa{
        font-size: 18px !important;
    }
    nav > ul > li > a > img  {
        width: 70px;
        height: 40px;
    }
    nav > ul > li:first-child {
        width: 80px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 0px;
    }
    nav > ul > li select{
        font-size: 9px;
        margin-top: 10px !important;
    }
    nav > ul > li input[type=text]{
        width: 100px !important;
        font-size: 9px;
        margin-top: 10px !important;
    }
    nav ul > li > a{
        padding: 12px 10px;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 80px;
        padding-top: 12px;
    }
    .buying{
        height: 1250px;
        width: 65%;
    }
    .header > div:first-child{
        font-size: 16px;
    }
    .buyProduct > div:last-child > p:first-child{
        font-size: 15px;
        font-weight: 600;
    }
    .buyProduct > .show{
        width: 60%;
    }
    .buyProduct > div > div span{
        font-size: 15px;
    }
    .buyProduct .color input[type=button]{
        width: 55px;
        font-size: 10px;
    }
    .money > div:first-child{
        font-size: 13px;
        padding-left: 20px;
    }
    .money >div:last-child{
        font-size: 15px;
        padding-right: 35px;
    }
    .numberPro > div:first-child{
        font-size: 13px;
        padding-left: 20px;
    }
    .numberPro >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .lastMoney > div:first-child{
        font-size: 13px;
        padding-left: 20px;
    }
    .lastMoney >div:last-child{
        font-size: 17px;
        padding-right: 35px;
    }
    .yourself input[type=text]{
        font-size: 13px !important;
    }
    .yourself{
        padding-left: 25px;
    }
    .yourself select{
        font-size: 13px;
    }
    .yourself > div > span{
        font-size: 13px;
    }
    #dh > input[type=button]{
        font-size: 12px;
    }
    footer{
        height: 240px !important;
    }
    .footer{
        font-size: 11px;
    }
    .footer > div {
        padding-left: 15px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .footer p{
        font-size: 15px;
    }
    #back-to-top{
        top: 90%;
        left: 90%;;
    }
}

@media only screen and (min-width:535px) and (max-width: 664px){
    body > div:first-child{
        height: 20px !important;
    }
    nav  ul > li > a{
        width: 70px !important;
        font-size: 10px;
    }
    .fa{
        font-size: 18px !important;
    }
    nav > ul > li > a > img  {
        width: 70px;
        height: 35px;
    }
    nav > ul > li:first-child {
        width: 70px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 0px;
        width: 0;
    }
    nav > ul > li select{
        font-size: 8px;
        margin-top: 5px !important;
        width: 0;
    }
    nav > ul > li input[type=text]{
        width: 100px !important;
        height: 15px !important;
        font-size: 9px;
        margin-top: 5px !important;
    }
    nav ul > li > a{
        padding: 8px 8px;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 50px;
        padding-top: 8px;
    }
    .buying{
        height: 1250px;
        width: 65%;
    }
    .header a{
        font-size: 10px;
    }
    .header > div:first-child{
        font-size: 13px;
    }
    .buyProduct > div:last-child > p:first-child{
        font-size: 12px;
        font-weight: 600;
    }
    .buyProduct > div:last-child > p{
        font-size: 10px;
    }
    .buyProduct > .show{
        width: 80%;
    }
    .buyProduct > div > div span{
        font-size: 12px;
    }
    .buyProduct .color input[type=button]{
        width: 50px;
        font-size: 8px;
    }
    .sl > div{
        padding: 1.5px 10px;
        margin-bottom: 13px;
    }
    .sl > div >i{
        font-size: 10px !important;
    }
    .sl > input[type=text]{
        width: 40px;
        height: 20px;
    }
    .money > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .money >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .numberPro > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .numberPro >div:last-child{
        font-size: 12px;
        padding-right: 35px;
    }
    .lastMoney > div:first-child{
        font-size: 11px;
        padding-left: 20px;
    }
    .lastMoney >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .yourself{
        font-size: 10px;
    }
    .yourself > h4{
        font-size: 13px;
    }
    .yourself input[type=text]{
        font-size: 10px !important;
    }
    .yourself{
        padding-left: 25px;
    }
    .yourself select{
        font-size: 10px;
    }
    .yourself > div > span{
        font-size: 10px;
    }
    #dh > input[type=button]{
        font-size: 10px;
    }
    footer{
        height: 250px !important;
    }
    .footer{
        font-size: 10px;
    }
    .footer > div {
        padding-left: 15px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .footer p{
        font-size: 13px;
    }
    .footer > div:first-child > span >span{
        font-size: 14px !important;
    }
    #back-to-top{
        top: 90%;
        left: 90%;;
    }
}

@media only screen and (min-width:500px) and (max-width: 534px){
    body > div:first-child{
        height: 15px !important;
    }
    nav  ul > li > a{
        width: 70px !important;
        font-size: 10px;
    }
    .fa{
        font-size: 18px !important;
    }
    nav > ul > li > a > img  {
        width: 70px;
        height: 35px;
    }
    nav > ul > li:first-child {
        width: 70px;
    }
    nav > ul > li:nth-child(2){
        margin-left: 0px;
        width: 0;
    }
    nav > ul > li select{
        font-size: 8px;
        margin-top: 5px !important;
        width: 0;
    }
    nav > ul > li input[type=text]{
        width: 80px !important;
        height: 15px !important;
        font-size: 9px;
        margin-top: 5px !important;
    }
    nav ul > li > a{
        padding: 5px 5px;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 50px;
        padding-top: 8px;
    }
    .buying{
        height: 1250px;
        width: 65%;
    }
    .header a{
        font-size: 10px;
    }
    .header > div:first-child{
        font-size: 13px;
    }
    .buyProduct > div:last-child > p:first-child{
        font-size: 12px;
        font-weight: 600;
    }
    .buyProduct > div:last-child > p{
        font-size: 10px;
    }
    .buyProduct > .show{
        width: 80%;
    }
    .buyProduct > div > div span{
        font-size: 12px;
    }
    .buyProduct .color input[type=button]{
        width: 50px;
        font-size: 8px;
    }
    .sl > div{
        padding: 1.5px 10px;
        margin-bottom: 13px;
    }
    .sl > div >i{
        font-size: 10px !important;
    }
    .sl > input[type=text]{
        width: 40px;
        height: 20px;
    }
    .money > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .money >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .numberPro > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .numberPro >div:last-child{
        font-size: 12px;
        padding-right: 35px;
    }
    .lastMoney > div:first-child{
        font-size: 11px;
        padding-left: 20px;
    }
    .lastMoney >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .yourself{
        font-size: 10px;
    }
    .yourself > h4{
        font-size: 13px;
    }
    .yourself input[type=text]{
        font-size: 10px !important;
    }
    .yourself{
        padding-left: 25px;
    }
    .yourself select{
        font-size: 10px;
    }
    .yourself > div > span{
        font-size: 10px;
    }
    #dh > input[type=button]{
        font-size: 10px;
    }
    footer{
        height: 250px !important;
    }
    .footer{
        font-size: 10px;
    }
    .footer > div {
        padding-left: 15px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .footer p{
        font-size: 13px;
    }
    .footer > div:first-child > span >span{
        font-size: 14px !important;
    }
    #back-to-top{
        top: 90%;
        left: 90%;;
    }
}
@media only screen and (min-width:420px) and (max-width: 499px){
    body > div:first-child{
        height: 15px !important;
    }
    nav  ul > li > a{
        width: 70px !important;
        font-size: 10px;
    }
    .fa{
        font-size: 13px !important;
    }
    nav > ul > li > a > img  {
        width: 0px;
    }
    nav > ul > li:first-child {
        width: 10px;
        background-color: rgb(236, 120, 12);
    }
    nav > ul > li:nth-child(2){
        margin-left: 0px;
        width: 0;
    }
    nav > ul > li select{
        font-size: 8px;
        margin-top: 5px !important;
        width: 0;
    }
    nav > ul > li input[type=text]{
        width: 80px !important;
        height: 15px !important;
        font-size: 9px;
        margin-top: 3px !important;
    }
    nav ul > li > a{
        padding: 5px 5px;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 50px;
        padding-top: 8px;
    }
    .buying{
        height: 1250px;
        width: 65%;
    }
    .header a{
        font-size: 10px;
    }
    .header > div:first-child{
        font-size: 13px;
    }
    .buyProduct > div:last-child > p:first-child{
        font-size: 12px;
        font-weight: 600;
    }
    .buyProduct > div:last-child > p{
        font-size: 10px;
    }
    .buyProduct > .show{
        width: 80%;
    }
    .buyProduct > div > div span{
        font-size: 12px;
    }
    .buyProduct .color input[type=button]{
        width: 50px;
        font-size: 8px;
    }
    .sl > div{
        padding: 1.5px 10px;
        margin-bottom: 13px;
    }
    .sl > div >i{
        font-size: 10px !important;
    }
    .sl > input[type=text]{
        width: 40px;
        height: 20px;
    }
    .money > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .money >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .numberPro > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .numberPro >div:last-child{
        font-size: 12px;
        padding-right: 35px;
    }
    .lastMoney > div:first-child{
        font-size: 11px;
        padding-left: 20px;
    }
    .lastMoney >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .yourself{
        font-size: 10px;
    }
    .yourself > h4{
        font-size: 13px;
    }
    .yourself input[type=text]{
        font-size: 10px !important;
    }
    .yourself{
        padding-left: 25px;
    }
    .yourself select{
        font-size: 10px;
    }
    .yourself > div > span{
        font-size: 10px;
    }
    #dh > input[type=button]{
        font-size: 10px;
    }
    footer{
        height: 250px !important;
    }
    .footer{
        font-size: 10px;
    }
    .footer > div {
        padding-left: 15px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .footer p{
        font-size: 13px;
    }
    .footer > div:first-child > span >span{
        font-size: 14px !important;
    }
    #back-to-top{
        top: 90%;
        left: 85%;;
    }
}

@media only screen and (min-width:200px) and (max-width: 419px){
    body > div:first-child{
        height: 15px !important;
    }
    nav  ul > li > a{
        width: 70px !important;
        font-size: 10px;
    }
    .fa{
        font-size: 13px !important;
    }
    nav > ul > li > a > img  {
        width: 0px;
    }
    nav > ul > li:first-child {
        width: 10px;
        background-color: rgb(236, 120, 12);
    }
    nav > ul > li:nth-child(2){
        margin-left: 0px;
        width: 0;
    }
    nav > ul > li select{
        font-size: 8px;
        margin-top: 5px !important;
        width: 0;
    }
    nav > ul > li input[type=text]{
        width: 80px !important;
        height: 15px !important;
        font-size: 9px;
        margin-top: 3px !important;
    }
    nav ul > li > a{
        padding: 5px 5px;
    }
    .shop{
        font-size: 0px;
        margin-left: auto;
        width: 50px;
        padding-top: 8px;
    }
    .buying{
        height: 1250px;
        width: 100%;
        margin-right: 0;
    }
    .header a{
        font-size: 10px;
    }
    .header > div:first-child{
        font-size: 13px;
    }
    .buyProduct > div:last-child > p:first-child{
        font-size: 12px;
        font-weight: 600;
    }
    .buyProduct > div:last-child > p{
        font-size: 10px;
    }
    .buyProduct > .show{
        width: 80%;
    }
    .buyProduct > div > div span{
        font-size: 12px;
    }
    .buyProduct .color input[type=button]{
        width: 50px;
        font-size: 8px;
    }
    .sl > div{
        padding: 1.5px 10px;
        margin-bottom: 13px;
    }
    .sl > div >i{
        font-size: 10px !important;
    }
    .sl > input[type=text]{
        width: 40px;
        height: 20px;
    }
    .money > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .money >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .numberPro > div:first-child{
        font-size: 10px;
        padding-left: 20px;
    }
    .numberPro >div:last-child{
        font-size: 12px;
        padding-right: 35px;
    }
    .lastMoney > div:first-child{
        font-size: 11px;
        padding-left: 20px;
    }
    .lastMoney >div:last-child{
        font-size: 13px;
        padding-right: 35px;
    }
    .yourself{
        font-size: 10px;
    }
    .yourself > h4{
        font-size: 13px;
    }
    .yourself input[type=text]{
        font-size: 10px !important;
    }
    .yourself{
        padding-left: 25px;
    }
    .yourself select{
        font-size: 10px;
    }
    .yourself > div > span{
        font-size: 10px;
    }
    #dh > input[type=button]{
        font-size: 10px;
    }
    footer{
        height: 250px !important;
    }
    .footer{
        font-size: 10px;
    }
    .footer > div {
        padding-left: 15px;
    }
    .footer > div:last-child{
        padding-right: 15px;
    }
    .footer p{
        font-size: 13px;
    }
    .footer > div:first-child > span >span{
        font-size: 14px !important;
    }
    #back-to-top{
        top: 90%;
        left: 85%;;
    }
}